<footer>

    <p><i class="far fa-copyright"></i>  SidWebDev. All Rights Reserved</p>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>

        <li>

            <% if (locals.user) { %>
            
            <a href="/users/profile/<%= user.id  %>">
                Profile
            </a>

            <% }else{ %>
                <a href="/users/sign-in">
                    Profile
                </a>
    

            <% } %>
        </li>
        
    </ul>

</footer>